# We work with a safelist here, so block everything that's not permitted, and add files
# that are.
**

!candid/**
!dist/**
!proto/**
!package.json
!README.md
!LICENSE

# Remove all test files (which matches .js and .d.ts).
dist/**/*.test.*
