dist
**/*.did.js
**/proto/*
.github/*

packages/**/*.js
packages/**/*.mjs
packages/**/*.d.ts
!packages/**/candid/**/*.js
!packages/**/candid/**/*.mjs
!packages/**/candid/**/*.d.ts
!packages/**/esbuild.mjs

docs/src/content/tmp/
docs/src/content/docs/api/
docs/src/content/docs/changelog.md
