name: CI Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install shfmt
        run: sudo snap install --classic shfmt

      - name: Format shell scripts
        run: ./scripts/fmt-sh

      - name: Install ts dependencies
        run: npm ci
      - name: Format ts
        run: npm run format

      - name: Commit Formatting changes - will not trigger rebuild
        uses: EndBug/add-and-commit@v7.2.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          add: .
          author_name: Formatting Committer
          author_email: "<nobody@example.com>"
          message: "Updating svelte frontend formatting"
          # do not pull: if this branch is behind, then we might as well let
          # the pushing fail
          pull_strategy: "NO-PULL"

  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install didc
        run: |
          mkdir -p .bin
          curl -L https://github.com/dfinity/candid/releases/download/2022-01-06/didc-linux64 > .bin/didc
          chmod +x .bin/didc
      - name: Add didc to the PATH
        run: echo "${PWD}/.bin" >> $GITHUB_PATH
      - name: Compile candid
        run: ./scripts/compile-idl-js
      - name: Verify that there are no changes to the compiled did files
        run: git diff --exit-code

  test:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
