name: Publish Release

on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      tag:
        description: 'npm tag to publish under'
        required: true
        default: 'next'
        type: choice
        options:
          - next
          - beta
          - release

run-name: >-
  ${{
    (github.event_name == 'release' || github.event.inputs.tag == 'release') && format('Publish {0}', github.event.release.tag_name)
    || (github.event_name == 'workflow_dispatch' && (github.event.inputs.tag == 'next' || github.event.inputs.tag == 'beta')) && format('Publish {0}', github.event.inputs.tag)
    || 'Publish Release' }}

jobs:
  publish:
    if: github.event_name == 'release' || github.event.inputs.tag == 'release'
    runs-on: ubuntu-24.04
    environment: release
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Build
        run: npm run build

      - name: Publish
        run: ./scripts/publish-npm.sh

  publish-next:
    if: github.event_name == 'workflow_dispatch' && (github.event.inputs.tag == 'next' || github.event.inputs.tag == 'beta')
    runs-on: ubuntu-24.04
    environment: release
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Build version for tag
        run: ./scripts/build-next --tag=${{ inputs.tag }}

      - name: Publish utils
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/utils

      - name: Publish Ledger ICRC
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/ledger-icrc

      - name: Publish Ledger ICP
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/ledger-icp

      - name: Publish NNS-proto
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/nns-proto

      - name: Publish NNS
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/nns

      - name: Publish SNS
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/sns

      - name: Publish CMC
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/cmc

      - name: Publish ckBTC
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/ckbtc

      - name: Publish ckETH
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/cketh

      - name: Publish ic-management
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/ic-management

      - name: Publish Zod schemas
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/zod-schemas

      - name: Publish @icp-sdk/canisters
        run: npm publish --provenance --tag ${{ inputs.tag }} --workspace=packages/canisters

